<app-navigation></app-navigation>

<div class="container-box">
    <h2 style="text-align: center;">Instructions</h2>
    
    
    <ul>
        <li>This is FREE online test.DO NOT pay money to anyone to attend this test</li>
        <li>Total number of questions:76</li>
        <li>Time alloted:1 hr 30 minutes</li>
        <li>No negative marks</li>
        <li>DO NOT refresh the page</li>
        <li>All the best:)</li>
      </ul>  
      <input class="btn btn-primary" type="button" value="Start Test">
    
</div>
    
     