<app-navigation></app-navigation>
<app-timer></app-timer>

<body>
    <form>
        <p id="ques">Q. Write an essay on "Save Water in 100-120 words"</p>
        <p class="text-center"> {{ question }}</p>
        <br>
        <textarea rows="15" cols="135" id="ans" name="answer" placeholder="Write here!" [(ngModel)]= "this.answer"> </textarea>
        <br>
        
            <input (click)="calculateMarks()" type="submit" value="Submit"/>
           

    </form>

    <p> {{ this.answer}} </p>
</body>


