<app-header></app-header>
       <div id="login-box">
        <div class="left-box">
          <h1> Login</h1>
          <form>
           <p>Username</p>
           <input type="text" name="" placeholder="Enter Username">
           <p>Password</p>
           <input type="password" name="" placeholder="Enter Password">
           <input type="submit" name="" routerLink ="/instruction" value="Login"><br>
         
           <a routerLink ="/signup">Don't have an account?</a>
       </form>
          </div>
<app-footer></app-footer>