
<app-navigation></app-navigation>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">

    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h3><span class="label label-warning" id="qid">{{no+1}}</span>{{ question }}</h3>
        </div>
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
               <div id="loadbar" style="display: none;">
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
              </div>
          </div>

          <div class="quiz" id="quiz" data-toggle="buttons">
           <label class="element-animation1 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">{{optionA}}</label>
           <label class="element-animation2 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2">{{optionB}}</label>
           <label class="element-animation3 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3">{{optionC}}</label>
           <label class="element-animation4 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4">{{optionD}}</label>
       </div>
   </div>
   
    <span id="answer"></span>
</div>
</div>
</div>
<div class="que-box">
    <table class="table table-success">
        <tr *ngFor="let item of this.aptitudeService.questions; let i = index" [attr.data-index]="i">
            <a style="cursor: pointer;" (click) = "loadCustomQuestion(i)"><td>{{ i + 1 }}</td></a>    
            
        </tr>
    </table>

</div>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>z
          </li>
        </ul>
      </nav>
</div>

<div class="navbar">
    <a style="cursor: pointer;" (click) = "loadPreviousQuestion()">Previous</a>    
    <a style="cursor: pointer;" (click) ="loadNextQuestion()">Next</a>
</div>