
<app-navigation></app-navigation>
<app-timer></app-timer>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">

    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h3><span class="label label-warning" id="qid">{{no+1}}</span>{{ question }}</h3>
        </div>
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
               <div id="loadbar" style="display: none;">
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
                  <div class="blockG"></div>
               </div>
              </div>

          <div class="quiz" id="quiz" data-toggle="buttons">


            <a style="cursor: pointer; text-decoration: none;" (click) = "updateCheckedOtions('1')">
              <label class="element-animation1 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
              
              <input type="radio" id="q_answer" name="q_answer" value="1">{{optionA}}
              
              </label>
              </a>
            
              
              <a style="cursor: pointer; text-decoration: none;" (click) = "updateCheckedOtions('2')">
              <label class="element-animation2 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              
              <input type="radio" id="q_answer" name="q_answer" value="2">{{optionB}}
               
              </label>
              </a>
            
              <a style="cursor: pointer; text-decoration: none;" (click) = "updateCheckedOtions('3')">
              <label class="element-animation2 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              
              <input type="radio" id="q_answer" name="q_answer" value="3">{{optionC}}
              
              </label>
              </a> 
  
              
              <a style="cursor: pointer; text-decoration: none;" (click) = "updateCheckedOtions('4')">
              <label class="element-animation2 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              
              <input type="radio" id="q_answer" name="q_answer" value="4">{{optionD}}
              
              </label>
              </a> 



           <!-- <label class="element-animation1 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1" [(ngModel)]="checkedOptions[no]">{{optionA}}</label>
           <label class="element-animation2 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2" [(ngModel)]="checkedOptions[no]">{{optionB}}</label>
           <label class="element-animation3 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3" [(ngModel)]="checkedOptions[no]">{{optionC}}</label>
           <label class="element-animation4 btn btn-lg btn-secondary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4" [(ngModel)]="checkedOptions[no]">{{optionD}}</label> -->
          </div>
       </div>
   
        <span id="answer"></span>
      </div>
    </div>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a style="cursor: pointer;" class="page-link" (click) = "loadPreviousQuestion()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item" 
          *ngFor="let item of this.communicationService.questions; let i = index"
          class="page-item"
          [ngClass]="{
            'page-item active':i === no
          }"
          [attr.data-index]="i">
            <a class="page-link" style="cursor: pointer;" (click) = "loadCustomQuestion(i)"><td>{{ i + 1 }}</td></a></li>          
         
         
          <li class="page-item">
            <a style="cursor: pointer;" class="page-link" (click) ="loadNextQuestion()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
</div>

<div class="navbar">
    <a style="cursor: pointer;" (click) = "loadPreviousQuestion()">Previous</a>    
    <a style="cursor: pointer;" (click) ="loadNextQuestion()">Next</a>
</div>
