

<div class ="tips">
    <h1 style="text-align: center;font-family: Times New Roman;">Tips</h1>
    <h3>Communication</h3>
    <h4>Result: Poor</h4>
    <h6>Your communication skills score of 35% is good.
        And if you are interested in improving your communication skills , this report analyses what you have said, and gives you tips for action
         (OK ... and increasing your score ...) 
        </h6>
        <h4>Result: Average</h4>
        <h6>Your communication skills score of 50% is good. But although getting a score is a fun way of positioning yourself,
            real purpose of this test is to analyse how you communicate with people. And if you are interested in improving your communication skills ,
             this report analyses what you have said, and gives you tips for action (OK ... and increasing your score ...)  
            </h6>
            <h4>Result: Good</h4>
            <h6>Your communication skills score of 70% is good. But although getting a score is a fun way of positioning 
                yourself, the real purpose of this test is to analyse how you communicate with people. And if you are interested in 
                improving your communication skills , this report analyses what you have said, and gives you tips for action (OK ... and increasing your score ...)
                </h6>
                <h4>Result: Excellent</h4>
                <h6>Your communication skills score of 95% is good. 
                    </h6>

<br>

                    <h3>Writing Skills</h3>
                    <h4>Result: Poor</h4>
                    <h6>How to Improve Your Writing Skills- 
                        1.Practice empathy—understanding how you can help your reader is the basic ingredient of nourishing content. 2.Apply the principles of persuasion, so you can inspire your reader to implement your tips and nudge him to buy from you. 3.Make your advice more practical by demonstrating your tips with lively examples. 4.Make your content memorable by including rich details that breathe life into your arguments. 5.Borrow authority by including expert quotes and stats. 6.Share tasty nuggets of information by digging deeper into your topic to reveal more specific tips. 7.Your readers are hungry for ideas, advice, comfort, and inspiration. Serve them the right mix of nourishing content, and make them crave more. 
                        </h6>
                        <h4>Result: Average</h4>
                        <h6>How to Improve Your Writing Skills- Practice each mini-skill one by one: 1.Learn how to write good sentences— a sparkling sentence is the basic ingredient of good writing. 2.Become more conversational by including questions in your writing. 3.Study how to choose flavored words; and learn how to avoid bland phrases that make your writing tasteless and yuck. 4.Compose smooth transitions so readers glide from sentence to sentence, and from paragraph to paragraph. 5.Experiment with your voice by changing punctuation and adding a dynamic rhythm. 6.Create a mesmerizing flow by outlining or reverse-outlining your content. 7.Practice writing soundbites that linger in your reader’s minds. 8.Cook up fresh metaphors to make abstract concepts concrete and entertaining. 9.Play with mini-stories to engage your readers. 
                            </h6>
                            <h4>Result: Good</h4>
                            <h6>How to Improve Your Writing Skills- 1.To learn how to write, you must develop the right writing habits: 2.Put on your chef’s hat, switch off your phone, set a timer for 25 minutes, and do the work. 3.Book time in your calendar for writing; and try writing at the same time each day. 4.Hold yourself accountable—publish at least one piece of content every week. 5.Apply a structured process to your writing—plan, draft, edit, and format. 6.Edit your content in several rounds because scintillating content requires careful adjustment of each ingredient. 7.Nurture a sense of play and experiment with different techniques—start with these creative writing exercises for business content. 
                                </h6>
                                <h4>Result: Excellent</h4>
                                <h6>Your Writing skills score of 95% is good. 
                                    </h6>

                                    <br>




                                    <h3>Technical Skills</h3>
                                    
                                    <h6>Tips for Technical skills:
                                        One of the best ways to improve your technical skills is by reading books. Books in their second edition or later are a great choice because they’ve already been through at least one round of testing in the marketplace.
                                        Read online tutorials.The advantage of online tutorials over books is that they’re accessible, timely, and of course free. They often sport other features like abundant interlinking, user comments, and interactive demos. Hang out with geeks.If you spend enough time with technical people, some of their knowledge will rub off on you. Even geeks learn from other geeks, but if you aren’t much of a geek yourself, a great way to accelerate the development of your technical skills is to join a local computer club or users group.
                                        Subscribe to technical magazines.Technical magazines are favorite outlets for learning. Programming is the art of instructing a computer to perform a task. The key to accomplishing this feat is learning to think like a computer. Programming is one of the most mentally challenging tasks a human being can perform, but nothing compares to the satisfaction of engineering a piece of code to solve a specific problem.
                                        </h6>

<br>


                                        <h3>Aptitude</h3>
                                        <h6>Tips for improving Aptitude:You must solve aptitude questions daily. You can use aptitude test books to understand concepts and then try solving question papers given at the end of the book. This will surely help you improve 
                                        your skills along with your confidence level.Practice one kind of problems again and again to master them, first by yourself and then take help from the solution. This will help boost your memory levels and will 
                                        help you correct the mistakes.Solve brain teasers and puzzles, it will help improve your logical skills. This also helps  your brain work 
                                        faster and smarter.Solve questions and track the time, as time matters the most in all exams. Try to solve maximum questions in a short span of time. Remember, you should be accurate with answers, because 
                                        at the end, only correct answers can take you through.Visit websites that provide aptitude questions, learn aptitude solving concepts, and much more. Some websites share aptitude question papers of
                                         competitive exams to help you. </h6>
                                
                                        <br>
                                        <br>


        <table id="customers">
  <tr>
    <th>Description</th>
    <th>Communication</th>
    <th>Writing skills</th>
    <th>Technical skills</th>
    <th>Aptitude</th>
  </tr>
  <tr>
    <td>Sample Paper PDF</td>
    <td><a href="../../assets/communication paper.pdf" target="_blank">Communication sample Paper </a></td>
    <td><a href="../../assets/writing paper.pdf" target="_blank">Writing skills sample paper</a></td>
    <td><a href="../../assets/C program pdf.pdf" target="_blank">Technical Skills sample paper</a></td>
    <td><a href="../../assets/aptitude-test.pdf" target="_blank">Aptitude sample paper</a></td>

  </tr>
  <tr>
    <td>Websites</td>
     <td><a href="https://medium.com/@KaylaEMatthews/how-to-improve-your-communication-skills-fc4499c84f48" target="_blank">Communication  </a></td>
    <td><a href="https://www.wordstream.com/blog/ws/2014/08/07/improve-writing-skills" target="_blank">Writing skills</a></td>
    <td><a href="https://careerbuzz.prosky.co/articles/upgrade-tech-skills" target="_blank">Technical Skills </a></td>
    <td><a href="https://www.opennaukri.com/best-way-to-increase-your-aptitude-solving-capabilities/" target="_blank">Aptitude </a></td>
    
  </tr>
  <tr>
    <td>E-Books</td>
      <td><a href="../../assets/COMMUNICATION-SKILLS.pdf" target="_blank">Communication E-Book </a></td>
    <td><a href="../../assets/writing1.pdf" target="_blank">Writing skills E-Book</a></td>
    <td><a href="../../assets/c++ pdf.pdf" target="_blank">Technical Skills E-Book</a></td>
    <td><a href="../../assets/QT Sure Shots.pdf" target="_blank">Aptitude E-Book</a></td>

  
  </tr>
 
 
  
</table>
<br>
<br>
                                       

    
   
  </div>
 