
<app-header></app-header>
       <div id="login-box">
        <div class="left-box">
          <h1> Sign Up</h1>
            
          <form class="form" #registerForm="ngForm"
          (ngSubmit)="registerForm.form.valid && onSubmit()" novalidate>


              <input type="text" id="firstname" class="form-control" required minlength="4" name="firstname" placeholder="First Name"
              [(ngModel)]="student.firstname" #firstname="ngModel"/>

               <span class="text-danger"
                  *ngIf="(firstname.touched || registerForm.submitted) && firstname.errors?.required">
                  Name is required
              </span>

            
            
            <input type="text" name="lastname" placeholder="Last Name"/>
           <input type="text" name="email" placeholder="Email"/>
           <input type="text" name="mobileno" placeholder="Mobile Number"/>

            <input type="password" name="password" placeholder="Password"/>
          
            <input type="password" name="password2" placeholder="Retype password"/>
           <label>Gender</label>
            <div class="form-group row">
                  
                    <input type="radio"  id="gender" value="male" size="10">Male
                  
                    <input type="radio"  id="gender" value="male" size="10">Female
                  
                </div>
                
            <input type="text" name="10thres" placeholder="10th Result in %"/>
            <input type="text" name="10thmaths" placeholder="Maths Marks of 10th"/>
            <input type="text" name="10thres" placeholder="12th Result in %"/>
            <input type="text" name="10thres" placeholder="Maths Marks of 12th"/>
          
            


            
              <input type="submit" class="btn btn-success" value="signup">
            
          </form>
          
          </div>
          <div class="right-box">
            <span class="signinwith">Sign in with<br/>Social Network     </span>
          
          <button class="social facebook">Log in with Facebook</button>    
          <button class="social twitter">Log in with Twitter</button> 
          <button class="social google">Log in with Google+</button> 
              
          
          </div>
          <div class="or">OR</div>
      </div>
      <app-footer></app-footer>
  