<app-header></app-header>
       <div class="container">
        <form class="form" #registerForm="ngForm"
        (ngSubmit)="registerForm.form.valid && onSubmit()" novalidate>

        <div class="left-box">
            <h1> Sign Up</h1>
              
            
            <div class="form-group">
                <label>First Name</label>
                <input type="text" id="firstname" class="form-control" required minlength="4" name="firstname"
                [(ngModel)]="student.firstname" #firstname="ngModel"/>
                </div>
        
                <span class="text-error"
                *ngIf="(firstname.touched || registerForm.submitted) && firstname.errors?.required">
                First Name is required
                </span>
        
                  
               <div class="form-group">
               <label>Last Name</label>
               <input type="text" id="lastname" class="form-control" required minlength="4" name="lastname" 
               [(ngModel)]="student.lastname" #lastname="ngModel"/>
               </div>
        
               <span class="text-error"
               *ngIf="(lastname.touched || registerForm.submitted) && lastname.errors?.required">
               Last Name is required
               </span>
        
               <div class="form-group">
                <label>Email</label>
                <input type="text" required id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                 ngModel #email="ngModel" class="form-control" [class.success]="!email.invalid">
                 <div *ngIf="email.errors &&(email.touched || email.dirty)" class ="text-error">
                      Valid Email required
                   </div>
               </div>
        
               <div class="form-group">
               <label>Mobile Number</label>
               <input type="text" id="mobno" class="form-control" required maxlength="10" name="mobno"
               [(ngModel)]="student.mobno" #mobno="ngModel"/>
               </div>
        
               <span class="text-error"
               *ngIf="(mobno.touched || registerForm.submitted) && mobno.errors?.required">
               Mobile Number is required
               </span>
        
               <div class="form-group">    
                <label>Password</label>    
                <input type="password" id="password" class="form-control" [(ngModel)]="student.password" name="password"    
                    #password="ngModel" required>    
                <span class="text-error"    
                    *ngIf="(password.touched || registerForm.submitted) && password.errors?.required">    
                    Password is required    
                </span> 
                </div>   
                <div class="form-group">    
                    <label>Confirm Password</label>    
                    <input type="password" id="confirmpassword" class="form-control" [(ngModel)]="student.confirmPassword"    
                        name="confirmPassword" #confirmPassword="ngModel" required>    
                    <span class="text-error"    
                        *ngIf="(confirmPassword.touched || registerForm.submitted) && confirmPassword.errors?.required">    
                        Confirm Password is required    
                    </span> 
                    <span
                        *ngIf="student.password !== student.confirmPassword">
                        Passwords does not match
                    </span>       
                </div>    

  </div>       
          
          
<div class="right-box">
           
    <div class="form-group" [class.has-error]="gender.invalid">
        <label>Gender</label><br>
        
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel"
                   value="male" [(ngModel)]="student.gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel"
                   value="female" [(ngModel)]="student.gender"> Female
          </label>
        
        <span class="text-error" *ngIf="(gender.invalid && gender.touched)">
          Gender is required
        </span>
      </div>
            
        <div class="form-group">
        <label>10th Result in %</label>
        <input type="number" id="result1" class="form-control" required minlength="4" name="result1"
        [(ngModel)]="student.result1" #result1="ngModel"/>
        </div>
            
        <span class="text-error"
        *ngIf="(result1.touched || registerForm.submitted) && result1.errors?.required">
        10th Result in % is required
        </span>
           

        <div class="form-group">
        <label>Maths Marks of 10th</label>
        <input type="number" id="maths1" class="form-control" required minlength="4" name="maths1"
        [(ngModel)]="student.maths1" #maths1="ngModel"/>
        </div>
            
        <span class="text-error"
        *ngIf="(maths1.touched || registerForm.submitted) && maths1.errors?.required">
        Maths marks is required
        </span>

        <div class="form-group">
        <label>12th Result in %</label>
        <input type="number" id="result2" class="form-control" required minlength="4" name="result2"
        [(ngModel)]="student.result2" #result2="ngModel"/>
        </div>
            
        <span class="text-error"
        *ngIf="(result2.touched || registerForm.submitted) && result2.errors?.required">
        12th Result in % is required
        </span>

        <div class="form-group">
        <label>Maths Marks of 12th</label>
        <input type="number" id="maths2" class="form-control" required minlength="4" name="maths2"
        [(ngModel)]="student.maths2" #maths2="ngModel"/>
        </div>
            
        <span class="text-error"
        *ngIf="(maths2.touched || registerForm.submitted) && maths2.errors?.required">
        Maths marks is required
        </span><br>
            
    <input type="submit" class="btn btn-success" value="signup">
     </div>
    </form>
    </div>
<app-footer></app-footer>
  