
<div id="divChart">
<canvas id="myChart">

</canvas>
</div>
<div class ="tips">
    <h1 style="text-align: center;font-family: Times New Roman;">Tips</h1>
    <h3>Communication</h3>
    <h4>Result: Poor</h4>
    <h6>Your communication skills score of 35% is good.
        And if you are interested in improving your communication skills , this report analyses what you have said, and gives you tips for action
         (OK ... and increasing your score ...) 
        </h6>
        <h4>Result: Average</h4>
        <h6>Your communication skills score of 50% is good. But although getting a score is a fun way of positioning yourself,
            real purpose of this test is to analyse how you communicate with people. And if you are interested in improving your communication skills ,
             this report analyses what you have said, and gives you tips for action (OK ... and increasing your score ...)  
            </h6>
            <h4>Result: Good</h4>
            <h6>Your communication skills score of 70% is good. But although getting a score is a fun way of positioning 
                yourself, the real purpose of this test is to analyse how you communicate with people. And if you are interested in 
                improving your communication skills , this report analyses what you have said, and gives you tips for action (OK ... and increasing your score ...)
                </h6>
                <h4>Result: Excellent</h4>
                <h6>Your communication skills score of 95% is good. 
                    </h6>

<br>

                    <h3>Writing Skills</h3>
                    <h4>Result: Poor</h4>
                    <h6>How to Improve Your Writing Skills- 
                        1.Practice empathy—understanding how you can help your reader is the basic ingredient of nourishing content. 2.Apply the principles of persuasion, so you can inspire your reader to implement your tips and nudge him to buy from you. 3.Make your advice more practical by demonstrating your tips with lively examples. 4.Make your content memorable by including rich details that breathe life into your arguments. 5.Borrow authority by including expert quotes and stats. 6.Share tasty nuggets of information by digging deeper into your topic to reveal more specific tips. 7.Your readers are hungry for ideas, advice, comfort, and inspiration. Serve them the right mix of nourishing content, and make them crave more. 
                        </h6>
                        <h4>Result: Average</h4>
                        <h6>How to Improve Your Writing Skills- Practice each mini-skill one by one: 1.Learn how to write good sentences— a sparkling sentence is the basic ingredient of good writing. 2.Become more conversational by including questions in your writing. 3.Study how to choose flavored words; and learn how to avoid bland phrases that make your writing tasteless and yuck. 4.Compose smooth transitions so readers glide from sentence to sentence, and from paragraph to paragraph. 5.Experiment with your voice by changing punctuation and adding a dynamic rhythm. 6.Create a mesmerizing flow by outlining or reverse-outlining your content. 7.Practice writing soundbites that linger in your reader’s minds. 8.Cook up fresh metaphors to make abstract concepts concrete and entertaining. 9.Play with mini-stories to engage your readers. 
                            </h6>
                            <h4>Result: Good</h4>
                            <h6>How to Improve Your Writing Skills- 1.To learn how to write, you must develop the right writing habits: 2.Put on your chef’s hat, switch off your phone, set a timer for 25 minutes, and do the work. 3.Book time in your calendar for writing; and try writing at the same time each day. 4.Hold yourself accountable—publish at least one piece of content every week. 5.Apply a structured process to your writing—plan, draft, edit, and format. 6.Edit your content in several rounds because scintillating content requires careful adjustment of each ingredient. 7.Nurture a sense of play and experiment with different techniques—start with these creative writing exercises for business content. 
                                </h6>
                                <h4>Result: Excellent</h4>
                                <h6>Your communication skills score of 95% is good. 
                                    </h6>

                                    <br>




                                    <h3>Technical Skills</h3>
                                    
                                    <h6>Tips for Technical skills:
                                        One of the best ways to improve your technical skills is by reading books. Books in their second edition or later are a great choice because they’ve already been through at least one round of testing in the marketplace.
                                        Read online tutorials.The advantage of online tutorials over books is that they’re accessible, timely, and of course free. They often sport other features like abundant interlinking, user comments, and interactive demos. Hang out with geeks.If you spend enough time with technical people, some of their knowledge will rub off on you. Even geeks learn from other geeks, but if you aren’t much of a geek yourself, a great way to accelerate the development of your technical skills is to join a local computer club or users group.
                                        Subscribe to technical magazines.Technical magazines are favorite outlets for learning. Programming is the art of instructing a computer to perform a task. The key to accomplishing this feat is learning to think like a computer. Programming is one of the most mentally challenging tasks a human being can perform, but nothing compares to the satisfaction of engineering a piece of code to solve a specific problem.
                                        </h6>

<br>


                                        <h3>Presentation Skills</h3>
                                        <h4>Result: Poor</h4>
                                        <h6>Your presentation skills scores are 35%.
                                            Try to practice where you'll be delivering your talk.
                                            Some acting strategists suggest rehearsing lines in various positions – standing up, sitting down.
                                            Do a practice run for a friend or colleague, or try recording your presentation and playing it back to evaluate which areas need work.
                                            Listening to recordings of your past talks can clue you in to bad habits you may be unaware of, as well as inspiring the age-old question: Is that what I really sound like? 
                                            The more adjusted to your environment you are, the more comfortable you'll feel.
                                            Make sure to spend some in the room where you will be delivering your presentation.
                                            Do your best to chat with people before your presentation.
                                            Talking with audiences makes you seem more likeable and approachable.
                                            Ask event attendees questions and take in their responses.
                                                                                    </h6>
                                            <h4>Result: Average</h4>
                                            <h6>Your presentation skills scores are 50% (A full explaination is given below).
                                                When you're nervous, it's easy to speed up your presentation and end up talking too fast, which in turn causes you to run out of breath, get more nervous, and panic! Ahh!
                                                Don't be afraid to slow down and use pauses in your speech. Pausing can be used to emphasize certain points and to help your talk feel more conversational.
                                                If you feel yourself losing control of your pacing, just take a nice pause and keep cool.
                                                Don’t Try to Cover Too Much Material.
                                                Yes, your presentations should be full of useful, insightful, and actionable information, but that doesn’t mean you should try to condense a vast and complex topic into a 10-minute presentation.
                                                Smiling increases endorphins, replacing anxiety with calm and making you feel good about your presentation.
                                                </h6>
                                                <h4>Result: Good</h4>
                                                <h6>Your presentation skills scores are 70% (A full explaination is given below). Even if your presentation is packed with useful information, if your delivery bombs, so will your session.
                                                    I find that including some jokes and light-hearted slides is a great way to help the audience (and myself) feel more comfortable, especially when presenting them with a great deal of information. 
                                                    However, it’s important to maintain a balance – after all, you’re not performing a stand-up routine, and people didn’t come to your presentation with the sole intention of being entertained. That said, don’t be afraid to inject a little humor into your talk. If you’re not sure about whether a presentation is “too much,”
                                                    run through it for a couple of friends and ask them to tell it to you straight.
                                                    </h6>
                                                    <h4>Result: Excellent</h4>
                                                    <h6>Your communication skills score of 95% is good. 
                                                        </h6>
                                        
                                       

    
   
  </div>
 