
.score
{

    margin-left: 5%;
    padding: 20px;
    border-style: double;
    border-width: thick;
    background-color:lightblue;
    font-family: Times New Roman;

}

.category
{
position: relative;
border-style: double;
border-width: thick;
margin-left: 5%;
padding: 20px;
background-color:lightblue;
font-family: Times New Roman;



}